{% extends 'default.html' %}
{% load pagination_tags %}
{% block title %}trasy{% endblock %}
{% block content %}
<table class="list">
    <tr>
        <td>Nazwa trasy</td>
        <td>Miasto</td>
    </tr>
    {% autopaginate maps 15 %}
    {% for map in maps %}
    <tr>
        <td>
            <a href="{% url map map.id map.slug %}">{{ map.name|title }} &raquo;</a>
            <div class="tags">
                {% for tag in map.gettags %}<a href="{% url maps %}?tag={{ tag }}">#{{ tag }}</a> {% endfor %}
            </div>
        </td>
        <td><a href="{% url maps %}?m={{ map.city }}">{{ map.city }}</a></td>
    </tr>
    {% empty %}
        Brak wyników
    {% endfor %}
    {% paginate %}
</table>

{% endblock %}
