{% extends 'default.html' %}
{% block title %}trasy{% endblock %}
{% block content %}
<table class="list">
    <tr>
        <td>Nazwa trasy</td>
        <td>Miasto</td>
    </tr>
    {% for map in maps %}
    <tr>
        <td>
            <a href="{% url map map.slug %}">{{ map.slug }} &raquo;</a>
            <div class="tags">
                {% for tag in map.gettags %}<a href="{% url tag tag %}">#{{ tag }}</a> {% endfor %}
            </div>
        </td>
        <td><a href="{% url maps %}?m={{ map.city }}">{{ map.city }}</a></td>
    </tr>
    {% endfor %}
</table>
{% if not maps %}
    <div class="empty">Brak wyników</div>
{% endif %}

{% endblock %}