{% extends 'default.html' %}
{% load avatar_tags %}
{% load pagination_tags %}

{% block title-tag %}{{ map.name|title }}{% endblock %}

{% block body-tag %}<body onload="init()" onunload="GUnload()">{% endblock %}

{% block head %}
    <script type="text/javascript">

        var latlngs = [
            {% for latlng in map.getlatlngs %}new GLatLng.fromUrlValue('{{latlng.0}},{{latlng.1}}'),{% endfor %}
        ];
	var centerpoint = new GLatLng({{center.0}}, {{center.1}});
        var map = null;
        var poly = null;
        var options = { geodesic: true };
        var color = "#FF0000";
	var state = 'none';

	function showhide(layer_ref) {
	  if (state == 'block') {
		state = 'none';
	  } else {
		state = 'block';
	  }
	  if (document.getElementById &&!document.all) {
   		hza = document.getElementById(layer_ref);
   		hza.style.display = state;
	  }
	}

        function init() {
          if (GBrowserIsCompatible()) {

            map = new GMap2(document.getElementById("map"));
	    var bounds = new GLatLngBounds();
	    bounds.extend( new GLatLng({{map.southwest.latit}},{{map.southwest.longi}}));
	    bounds.extend( new GLatLng({{map.northeast.latit}},{{map.northeast.longi}}));
            map.setCenter(centerpoint, map.getBoundsZoomLevel(bounds));

            map.setUIToDefault();
            map.enableRotation();

            poly = new GPolyline(latlngs, color);
            map.addOverlay(poly);

            var length = poly.getLength();
            var km = (Math.round(length / 10) / 100);
            $('.length').html(km + " km");
            $('#km').val(km);

          }
        }

        function share(url) {
            window.open(url, 'sharer', 'toolbar=0, status=0, width=626, height=436');
            return false;
        }

	function fbs_click() { 
            return share('http://www.facebook.com/sharer.php?u=' + encodeURIComponent(location.href) + '&t={{map|title}}');
	} 

        function buzz_click() { 
            return share('http://www.google.com/reader/link?title={{map|title}}&url=' + encodeURIComponent(location.href));
	}

        function blip_click() {
            return share('http://blip.pl/dashboard?body={{map|title}} ' + encodeURIComponent(location.href));
        }

        function flaker_click() {
            return share('http://flaker.pl/add2flaker.php?url=' + encodeURIComponent(location.href) + '&title=' + encodeURIComponent('{{map|title}}'));
        }

        function sledzik_click() {
            return share('http://nasza-klasa.pl/sledzik?shout={{map|title}} ' + encodeURIComponent(location.href));
        }

    </script>
{% endblock %}

{% block content %}
<a name="do-gory"></a>

<a name="komentarze"></a>
<h2>{{ map|title }}</h2>
<div class="box">
    <div class="left">
        <a class="comments-icon icon" href="#comments" title="komentarze"></a>
        {% if request.user.is_authenticated %}
        <a class="star-icon icon" href="{% url like-map map.id map.slug %}" onclick="$.post($(this).attr('href')); $(this).hide(); return false" title="lubię to!"></a>
        {% endif %}
        <a class="blip-icon icon" type="none" onclick="return blip_click()" target="_blank"></a>
        <a class="flaker-icon icon" type="none" onclick="return flaker_click()" target="_blank"></a>
        <a class="sledzik-icon icon" type="none" onclick="return sledzik_click()" target="_blank"></a>
        <a class="facebook-icon icon" type="none" onclick="return fbs_click()" target="_blank"></a> 
        <a class="buzz-icon icon" type="none" onclick="return buzz_click()" target="_blank"></a> 
    </div>
    <div id="length" class="length right">0 km</div>
    
</div>
<div class="clear"></div>
<div id="map" style="width: 100%; height: 400px"></div>
<div class="box">
    <div class="right">
        {% for tag in map.gettags %}
	<a class="tag" href="{% url maps %}?tag={{ tag }}">#{{ tag }}</a> 
        {% endfor %}
    </div>
</div>
<div class="clear"></div>

<a href="{% url new-time map.id %}">Dodaj swój wynik</a> &nbsp; &nbsp; <a onclick="showhide('times');">Pokaż/ukryj ostatnie wyniki</a>
<div id="times" style="display: none;">
<h2>Wyniki</h2>
{% for time in times %}
        <ul class="time">
        <a href="{% url profile time.user %}">{{ time.user }}</a> pokonał trasę {{ time.rounds }} razy w czasie {{ time }}
                {% if time.weather or time.part_of_the_day %}
                	({{ time.get_weather_display }} &middot; {{ time.get_part_of_the_day_display }})
                {% endif %}
        </ul>
{% empty %}
       <ul class="time">
       Brak wyników. Bądź pierwszy!
       </ul>
{% endfor %}
</div> 

<h2>Komentarze</h2>

<ul id="comments">
{% autopaginate comments 10 %}
{% for comment in comments %}
    <li class="comment" id="comment-{{ comment.id }}">
        <a name="komentarz-{{ comment.id }}"></a>
        <div class="top">
            {% avatar comment.user 32 %}
            <a href="{% url profile comment.user %}">{{ comment.user }}</a>
        </div>
        <div class="content">
            {{ comment.content }}
            
            <ul class="time">
                {% if comment.time %}
                <li>Czas: {{ comment.time }}s</li>
                {% endif %}
                {% if comment.weather or comment.part_of_the_day %}
                <li>{{ comment.weather_name }} &middot; {{ comment.part_of_the_day_name }}</li>
                {% endif %}
            </ul>
            
        </div>
        <div class="bottom">
            <a class="permalink" href="#komentarz-{{ comment.id }}">#</a>
        </div>
    </li>
{% empty %}
    Brak komentarzy.
{% endfor %}
{% paginate %}
</ul>

<h2>Nowy komentarz</h2>
{% if request.user.is_authenticated %}
<form action="{% url create-comment map.id %}" method="post">
<table>
  {{ form.as_table }}
  <tr>
    <td></td>
    <td><input type="submit" value="Utwórz komentarz"></td>
  </tr>
</table>
</form>
{% else %}
Aby móc komentować musisz się <a href="{% url login %}">zalogować</a>.
{% endif %}


{% endblock %}
