{% extends 'default.html' %}
{% load avatar_tags %}

{% block title-tag %}{{ map.name|title }}{% endblock %}

{% block body-tag %}<body onload="init()" onunload="GUnload()">{% endblock %}

{% block head %}
    <script type="text/javascript">

        var latlngs = [
            {% for latlng in map.getlatlngs %}new GLatLng.fromUrlValue('{{latlng.0}},{{latlng.1}}'),{% endfor %}
        ];
	var centerpoint = new GLatLng({{center.0}}, {{center.1}});
        var map = null;
        var poly = null;
        var options = { geodesic: true };
        var color = "#FF0000";

        function init() {
          if (GBrowserIsCompatible()) {

            map = new GMap2(document.getElementById("map"));
	    var bounds = new GLatLngBounds();
	    bounds.extend( new GLatLng({{map.southwest.latit}},{{map.southwest.longi}}));
	    bounds.extend( new GLatLng({{map.northeast.latit}},{{map.northeast.longi}}));
            map.setCenter(centerpoint, map.getBoundsZoomLevel(bounds));

            map.setUIToDefault();
            map.enableRotation();

            poly = new GPolyline(latlngs, color);
            map.addOverlay(poly);

            var length = poly.getLength();
            var km = (Math.round(length / 10) / 100);
            $('.length').html(km + " km");
            $('#km').val(km);

          }
        }
        
    </script>
{% endblock %}

{% block content %}
<a name="do-gory"></a>

<a name="komentarze"></a>
<h2>{{ map|title }}</h2>
<div class="box">
    <div class="left">
        <a class="comments-icon icon" href="#komentarze" title="komentarze"></a>
        {% if request.user.is_authenticated %}
        <a class="star-icon icon" href="{% url like-map map.id map.slug %}" onclick="$.post($(this).attr('href')); $(this).hide(); return false" title="lubię to!"></a>
        {% endif %}
        <a class="email-icon icon" href="" title="wyślij link do mapy"></a>
    </div>
    <div id="length" class="length right">0 km</div>
    
</div>
<div class="clear"></div>
<div id="map" style="width: 100%; height: 400px"></div>
<div class="box">
    <div class="right">
        {% for tag in map.gettags %}
	<a class="tag" href="{% url maps %}?tag={{ tag }}">#{{ tag }}</a> 
        {% endfor %}
    </div>
</div>
<div class="clear"></div>

<a href="{% url new-time map.id %}">Dodaj swój wynik</a>

<h2>Komentarze</h2>

<ul id="comments">
{% for comment in comments %}
    <li class="comment" id="comment-{{ comment.id }}">
        <a name="komentarz-{{ comment.id }}"></a>
        <div class="top">
            {% avatar user 32 %}
            <a href="{% url profile comment.user %}">{{ comment.user }}</a>
        </div>
        <div class="content">
            {{ comment.content }}
            
            <ul class="time">
                {% if comment.time %}
                <li>Czas: {{ comment.time }}s</li>
                {% endif %}
                {% if comment.weather or comment.part_of_the_day %}
                <li>{{ comment.weather_name }} &middot; {{ comment.part_of_the_day_name }}</li>
                {% endif %}
            </ul>
            
        </div>
        <div class="bottom">
            <a class="permalink" href="#komentarz-{{ comment.id }}">#</a>
        </div>
    </li>
{% empty %}
    Brak komentarzy.
{% endfor %}
</ul>

<h2>Nowy komentarz</h2>
{% if request.user.is_authenticated %}
<form action="{% url create-comment map.id %}" method="post">
<table>
  {{ form.as_table }}
  <tr>
    <td></td>
    <td><input type="submit" value="Utwórz komentarz"></td>
  </tr>
</table>
</form>
{% else %}
Aby móc komentować musisz się <a href="{% url login %}">zalogować</a>.
{% endif %}


{% endblock %}
