{% extends 'default.html' %}

{% block title-tag %}{{ map.name|title }}{% endblock %}

{% block body-tag %}<body onload="init()" onunload="GUnload()">{% endblock %}

{% block head %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#link-dialog').dialog({
                bgiframe: true,
                modal: true,
                autoOpen: false,
                width: 500,
                resizable: false,
                buttons: {
                    "Zamknij": function() { $(this).dialog("close") },
                }
            });
            $('#comment-dialog').dialog({
                bgiframe: true,
                modal: true,
                autoOpen: {% if request.GET.auto %}true{% else %}false{% endif %},
                width: 500,
                resizable: false,
                buttons: {
                    "Zamknij": function() { $(this).dialog("close") },
                    "Utwórz": function() {
                        var valid = true;
                        if (!$('#rounds').val().match(/^\d+$/)) {
                            valid = false;
                           
                        }
                        if ($('#text').val() || $('#time').val() || $('#km').is(':checked')) {
                            if ($('#time').val()) {
                                var items = $('#time').val().split(/:/);
                                for(var index in items) {
                                    var item = items[index];
                                    //tylko liczby dodatnie
                                    if (!item.match(/^\d+$/)) {
                                        valid = false;
                                    }
                                }
                                if (items.length > 1 && items.length < 4) {
                                    var pos = items.length - 1;
                                    var sec = parseInt(items[pos]);
                                    var min = parseInt(items[pos-1]);
                                    var hour = parseInt(items[pos-2])
                                    if (sec >= 60) {
                                        valid = false;
                                    }
                                    if (min >= 60) {
                                        valid = false;
                                    }

                                } else {
                                    valid = false;
                                }
                            }
                            if (valid) {
                                $('#comment').submit();
                            } else {
                                $('#comment-dialog div.errors').show();
                                $('#comment-dialog div.errors').html('Nieprawidłowy format czasu. Poprawne formaty to godz:min:sek, min:sek');
                            }
                        } else {
                            $('#comment-dialog div.errors').show();
                            $('#comment-dialog div.errors').html('Musisz podać treść komentarza lub wynik');
                        }
                    }
                }
            });

            $('.link-icon').click(function() {
                $('#link-dialog').dialog('open');
                return false;
            });
            $('.create-comment').click(function() {
                $('#comment-dialog').dialog('open');
                return false;
            });
            $('.weather-icon').click(function() {
                $('#weather').val($(this).attr('alt'))
                $('.weather-icon').css({ border: '1px solid #ffffff'});
                $(this).css({ border: '1px solid #ff0000'});
            });
        });

        var latlngs = [
            {% for latlng in map.getlatlngs %}new GLatLng.fromUrlValue('{{latlng.0}},{{latlng.1}}'),{% endfor %}
        ];
        var map = null;
        var poly = null;
        var options = { geodesic: true };
        var color = "#FF0000";

        function init() {
          if (GBrowserIsCompatible()) {

            map = new GMap2(document.getElementById("map"));

            var geocoder = new GClientGeocoder();
            geocoder.getLocations(latlngs[0], function (locations) {

                var north = locations.Placemark[0].ExtendedData.LatLonBox.north;
                var south = locations.Placemark[0].ExtendedData.LatLonBox.south;
                var east  = locations.Placemark[0].ExtendedData.LatLonBox.east;
                var west  = locations.Placemark[0].ExtendedData.LatLonBox.west;

                var bounds = new GLatLngBounds(new GLatLng(south, west),
                                               new GLatLng(north, east));

                map.setCenter(bounds.getCenter(), map.getBoundsZoomLevel(bounds)-1);
            });

            map.setUIToDefault();
            map.enableRotation();

            poly = new GPolyline(latlngs, color);
            map.addOverlay(poly);

            var length = poly.getLength();
            var km = (Math.round(length / 10) / 100);
            $('.length').html(km + " km");
            $('#km').val(km);

          }
        }
        
    </script>
{% endblock %}

{% block content %}
<a name="do-gory"></a>
<div id="comment-dialog" title="Dodaj komentarz">
    <form id="comment" action="/komentarze" method="post">
        <input type="hidden" name="route_id" value="{{id}}" />
        <input id="weather" type="hidden" name="weather" value="-1" />
        <p>
            <label for="text">Komentarz</label><br/>
            <textarea id="text" name="text" rows="3" cols="43"></textarea>
        </p>
        {% if auto %}
        <div class="result">
        {% else %}
        <a href="#" onclick="$(this).parent().children('div.result').toggle(); $(this).hide(); return false">Dodaj wynik</a>
        <div class="result hide">
        {% endif %}
            <div class="box">
                <input id="km" type="checkbox" name="km" value="0"><label for="km">dodaj <span class="length"></span> do licznika</label>
            </div>
            <div class="clear"></div>
            <div class="box">
                <div class="left">
                    <label for="time">Czas</label>
                    <input id="time" type="text" name="time" onclick="$('#km').attr('checked', true)" size="5" />
                </div>
                <div class="right">
                    <label for="weather">Pogoda:</label>
                    <img alt="0" class="weather-icon" src="/static/images/weather/upal.png" title="Upał" />
                    <img alt="1" class="weather-icon" src="/static/images/weather/slonecznie.png" title="Słonecznie" />
                    <img alt="2" class="weather-icon" src="/static/images/weather/pochmurnie.png" title="Pochmurnie" />
                    <img alt="3" class="weather-icon" src="/static/images/weather/deszczowo.png" title="Deszczowo" />
                    <img alt="4" class="weather-icon" src="/static/images/weather/snieznie.png" title="Śnieżnie" />
                </div>
            </div>
            <div class="clear"></div>
            <div class="box">
                <div class="left">
                    <label for="rounds">Liczba długości</label>
                    <input id="rounds" type="text" name="rounds" size="2" value="1" /> x <span class="length"></span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="errors hide"></div>
    </form>
</div>
        <a name="komentarze"></a>
<h2>{{ map|title }}</h2>
<div class="box">
    <div class="left">
        <a class="comments-icon icon" href="#komentarze" title="komentarze"></a>
        {% if request.user.is_authenticated %}
        <a class="star-icon icon" href="" title="zapamiętaj tę mapę"></a>
        {% endif %}
        <a class="email-icon icon" href="" title="wyślij link do mapy"></a>
        <a class="link-icon icon" href="" title="skopiuj link"></a>
    </div>
    <div id="length" class="length right">0 km</div>
</div>
<div class="clear"></div>
<div id="map" style="width: 100%; height: 400px"></div>
<div class="box">
    <div class="right">
        {% for tag in map.gettags %}
        <a class="tag" href="{% url tag tag %}">#{{tag}}</a>
        {% endfor %}
    </div>
</div>
<div class="clear"></div>
<h2>Komentarze</h2>

<ul id="comments">
{% for comment in comments %}
    <li class="comment" id="comment-{{ comment.id }}">
        <a name="komentarz-{{ comment.id }}"></a>
        <div class="top">Dodane przez <a href="{% url profile comment.user %}">{{ comment.user }}</a>:</div>
        <div class="content">
            {{ comment.content }}
            
            <ul class="time">
                {% if comment.time %}
                <li>Czas: {{ comment.time }}s</li>
                {% endif %}
                {% if comment.weather or comment.part_of_the_day %}
                <li>{{ comment.weather_name }} &middot; {{ comment.part_of_the_day_name }}</li>
                {% endif %}
            </ul>
            
        </div>
        <div class="bottom">
            <a class="permalink" href="#komentarz-{{ comment.id }}">#</a>
        </div>
    </li>
{% empty %}
    Brak komentarzy.
{% endfor %}
</ul>

<h2>Nowy komentarz</h2>
<form action="{% url create-comment map.id %}" method="post">
<table>
  {{ form.as_table }}
  <tr>
    <td></td>
    <td><input type="submit" value="Utwórz komentarz"></td>
  </tr>
</table>
</form>


{% endblock %}
