{% extends 'default.html' %}
{% block title %}konto{% endblock %}
{% block content %}
{% load charts %}

<h2>Witaj {{ request.user }}</h2>

<p style="text-align: right">
    Łącznie: {{ summary }} km
</p>

<table>
    <tr>
        <th>Nazwa mapy</th>
    </tr>
    {% for favorite in favorites %}
    <tr>
        <td><a href="{% url map favorite.content_object.id favorite.content_object.slug %}">{{ favorite.content_object.name|title }}</a></td>
        <td><a href="{% url unlike-map favorite.content_object.id favorite.content_object.slug %}" onclick="$.post($(this).attr('href')); $(this).parent().parent().hide(); return false">Usuń</a>
            &middot;
        <a href="{% url new-time favorite.content_object.id %}">Pokonana trasa</a></td>
    </tr>
    {% endfor %}
</table>

<h2>Pokonane kilometry</h2>

<img alt="Wykres pokonanych kilometrów" src="{% chart request.user.username "0" %}">

<table>
    <tr>
        <th>Kiedy?</th>
        <th>Mapa</th>
        <th>Wynik</th>
        <th>Dystans</th>
    </tr>
    {% for time in times %}
    <tr>
        <td>{{ time.created_at|date:"D d M Y" }}</td>
        <td><a href="{% url map time.map.id time.map.slug %}">{{ time.map }}</a></td>
        <td>{{ time }}</td>
        <td>{{ time.distance }} km</td>
    </tr>
    {% endfor %}
</table>

<div class="clear"></div>


{% endblock %}
